{
  "jsc": {
      "parser": {
          "syntax": "typescript",
          "decorators": true
      },
      "baseUrl": "./src",
      "paths": {
          "@shared/*": [
              "./@shared/*"
          ],
          "@user/*": [
              "./user/*"
          ],
          "@topic/*": [
              "./topic/*"
          ],
          "@session/*": [
            "./session/*"
          ],
          "@vote/*": [
            "./vote/*"
          ],
          "@auth/*": [
            "./auth/*"
          ]
      }
  }
}